{% extends 'homebase.html' %}
{% block content %}

<br>
<br>

<div class="jumbotron" style="margin-bottom:0px;">
  <h1 class="display-4">Hello, Donar</h1>
  <p class="lead">Welcome to Food Donation Management System.</p>
  <hr class="my-4">
  <p>You can access various features after Login.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/donarsignup" role="button">New Donar</a>
    <a class="btn btn-primary btn-lg" href="/donarlogin" role="button">Login</a>
  </p>
</div>

{% endblock content %}
