{% extends 'ngobase.html' %}
{% comment %} {% load widget_tweaks %} {% endcomment %}




{% block content %}

<head>

  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <style type="text/css">
    .card-content {
      display: flex;
    }

    .card-text {
      margin-left: 10px;
    }

    {% comment %} #messages{
      background-color: grey;
      color: #fff;
      padding: 10px;
      margin-top: 10px;
    } {% endcomment %}
  </style>

</head>

{% for message in messages  %}
{% comment %} <p id="messages">{{message}}</p> {% endcomment %}
<div class="alert alert-primary" role="alert" style="text-align: center;">
  {{message}}
</div>
{% endfor %}
<form>
  <div class="container register-form">
    <div class="form">
      <div class="note">
        <p style="color: #4682B4; font-weight: bold; font-size: 20px;">AVAILABLE DONATIONS</p>
      </div>

      <div class="row" style="margin-left: 23px;">
        {% for d in donations %}
        <div class="card" style="width: 18rem; margin-left: 50px; margin-bottom: 30px;">
          {% if d.foodImage %}
          <img src="{{ d.foodImage.url }}" class="card-img-top" alt="..." style="height: 170px;">
          {% else %}
          <img src="{{ 'static/images/default.jpg' }}" class="card-img-top" alt="..." style="height: 170px;">
          {% endif %}

          <div class="card-body">
            <h5 class="card-title">{{ d.companyName }}</h5>
            <div class="card-content">
              <h6 class="card-title">Food Name:</h6>
              <p class="card-text">{{ d.foodName }}</p>
            </div>
            <div class="card-content">
              <h6 class="card-title">Category:</h6>
              <p class="card-text">{{ d.inputState }}</p>
            </div>
            <div class="card-content">
              <h6 class="card-title">Quantity:</h6>
              <p class="card-text">{{ d.quantity }}</p>
            </div>
            <div class="card-content">
              <h6 class="card-title">Hours Passed:</h6>
              <p class="card-text">{{ d.hours }}</p>
            </div>
            <div class="card-content">
              <h6 class="card-title">Contact No.:</h6>
              <p class="card-text">{{ d.number }}</p>
            </div>
            <div class="card-content">
              <h6 class="card-title">Address:</h6>
              <p class="card-text">{{ d.address }}</p>
            </div>
            <p class="card-text">{{ d.description }}</p>

            {% if d.status %}
            <a class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-ok">Claimed</span></a></td>
            {% else %}
            <a class="btn btn-primary btn-xs" onclick="return confirm('Are you sure? You want claim this donation.');"
              href="{% url 'claim-donation' d.id id d.foodName %}"><span class="glyphicon glyphicon-ok">Claim</span></a>
            </td>
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

</form>



{% endblock content %}